/* COLORS */
:root {
  --background-color: #ffffff;
  --default-color: #3d4348;
  --heading-color: #3e5055;
  --accent-color: #388da8;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* ABOUT */
#about {
  padding-top: 5rem;
}

.about {
  padding-bottom: 20px;
}

.about .content .who-we-are {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--default-color);
}

.about .content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.about .about-images img {
  border-radius: 10px;
}

/* CLIENTS */
.clients {
  padding: 20px 0;
}

.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .client-logo img {
  padding: 20px 40px;
  max-width: 90%;
  transition: 0.3s;
  opacity: 0.5;
  filter: grayscale(100);
}

.clients .client-logo img:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 640px) {
  .clients .client-logo img {
    padding: 20px;
  }
}

/* PROGRAM */
#program {
  padding-top: 5rem;
}

/* SECTION-TITLE */
.section-title {
  text-align: center;
  padding-bottom: 60px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-title p {
  margin-bottom: 0;
}

/* FEATURES DETAILS */
.features-details .features-item + .features-item {
  margin-top: 60px;
}

.features-details .features-item .content {
  padding: 30px;
}

.features-details .features-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.features-details .features-item .more-btn {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 6px 30px;
  border-radius: 6px;
}

.features-details .features-item .more-btn:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.features-details .features-item img {
  border-radius: 15px;
}

/* FOOTER */
.footer {
  color: var(--contrast-color);
  background-color: var(--default-color);
  font-size: 14px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}
